/* 
Project Name: IL Site -- REVISION 1
Client: Industry Lab
Author: Anna Cataldo
*/





/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
 -moz-box-sizing: border-box; /* Firexfox */
 -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
 box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
 content: ".";
 display: block;
 clear: both;
 visibility: hidden;
 line-height: 0;
 height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
 color: #000;
 font-size: 12px;
 line-height: 1.4;
 font-family: Helvetica;
 font-family: 'Roboto Mono', monospace;
 overflow: auto;
}

/******************************************
/* UNIVERSAL               
/*******************************************/

/* Center the container */
#container {
	width: 100%;
	margin: auto;
}

h1, h2, h3 {
  font-family:Helvetica;
}

a {
 text-decoration: none;
 /*   color: blue;*/
 color:white;
 cursor: pointer;
}

li {
 float: right;
 margin: 2%;
 padding: 1%;
 font-size: 1.3em;
 letter-spacing: .3em;
}

.activeNav {
  border-bottom: 2px solid blue;
  padding-bottom: 5%;

}
button:hover {
  background-color: blue;
  color: white;
}

button {
  text-decoration: none;
  font-size: 1.3em;
  letter-spacing: .3em;
  color: blue;
  background-color: white;
  border: 2px solid blue;
  padding: 1%;
  margin: 2%;
}

p {
  font-family:"Roboto Mono";
}

#eventsLogo, #logoHomeCoworking, #contactLogo{
  visibility: hidden;
  height:0;
  margin-top:5%;
}


.dropNav {
  font-family: Helvetica;
  text-transform: lowercase;
  background: black;
  color: white;
  width: 50%;
  height: 100%;
  position: fixed;
  right: 0;
  z-index: 1;
  transition: .8s;
  transition-delay: none;
}

.dropNavHome {
  position:absolute;
  margin-top:0;
}

.dropNav ul{
  padding:0;
}

.dropNav li, .drovNav a {
  float: none;
  font-size: 3em;
  color:white;
  border:none;
  margin:7% 10%;
}

.dropNav li:hover{
  border-bottom: 2px solid blue;
}

nav li:hover {
  font-style: italic;
}

.dropNav .condensedNav {
  text-transform: uppercase;
  border: 3px solid white;
  margin-top: 6%;
  margin-left:78%;

}

#containerArts .dropNav .condensedNav, #coworkingHeader .dropNav .condensedNav, #eventsHeader .dropNav .condensedNav {
  margin-left:78%;

}

.dropNav .condensedNav:hover{
  color: black;
  background-color:white;
  border: 2px solid black;
}


.condensedNav{
  font-family: Helvetica;
  width: 65px;
  height: 60px;
  margin: 3% 0%;
  padding: 10px;
  border: 3px solid black;
  letter-spacing: .9em;
  font-size: 1.3em;
  font-weight: bold;
  float: left;
  margin-left: 74%;
  display:block;
}

.condensedNav h5{
  margin: 0;
  font-size: 1em;
}

.condensedNav:hover {
  color: white;
  background: black;
  border: 3px solid black;
}

.homeCondensedNav{
  visibility: hidden;
}

#mobileNav {
   background-color: #222222;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100px;
  width: 105%;
  left:0;
  height:100vh;
}

#mobileNav a {
  color: white;
  display: block;
  padding: 7% 0;
  text-align: center;
  font-size:3.4em;
  letter-spacing:.2em;
  border-bottom:4px dashed #222222;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#mobileNav a:hover {
  border-bottom:4px dashed blue;
  font-style:italic;

  transform:translateX(20px);
  transition:all .3s ease;
}

.hamburger-menu {
  display: none;
  height: 100px;
  padding: 35px 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger-menu:hover {
  cursor: pointer;
}
.hamburger-menu .menu-item {
  background: black;
  display: block;
  height: 3px;
  margin: 0 0 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 40px;
}
.hamburger-menu.open .menu-item {
  margin: 0 0 5px;
}
.hamburger-menu.open .menu-item:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10px;
          transform-origin: 10px;
}
.hamburger-menu.open .menu-item:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.open .menu-item:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 8px;
          transform-origin: 8px;
}



.mobileNavOpen {
  visibility:visible;
}

.hiddenNav{
  right: -100%;
  transition: 1s;
  transition-delay: .1s;

}

.logoHome {
  transition: all .2s ease;
  float: left;
  width: 15%;
  margin-top:-3%;
  margin-left:-2.5%;
}

.logoHome:hover {
  transform:scale(1.2) rotate(15deg);
  transition: all .2s ease;
}

.underline {
  background-image: url("../images/curve.svg");
  background-position: -.4em .8em;
  background-size: 160% 50%;
  background-repeat: repeat-x;
  padding-bottom: 1.3em;
  color:black
}

.underline:hover, .underline:focus {
 animation: underline none 3.5s linear infinite;
 color:black;
}

@keyframes underline {
 0% {background-position: -.4em .8em}
 100%{background-position: -240px .8em}
}

#underlineEvents {
 background-size: 270% 50%;
}

#underlineCowork{
 background-size: 150% 50%;
}

#underlineAir {
  background-size: 200% 50%;
}




/******************************************
/* HOME              
/*******************************************/


#bodyHome {
  background-image: url("../images/heloisa.png");
  background-size:100%;
  background-attachment:fixed;
}

#svgTrace {
  overflow:hidden;
  height:100vh;

}

svg {
  margin: -40%;
  transform:scale(.8);

}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1.5s ease-in forwards;
  stroke-width:3px;
  stroke-linecap: round;
  stroke-linejoin:round;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


#aboutImage {
  width:43%;
  overflow:hidden;
  height: 75vh;
  margin: 0 auto;
  box-shadow: 15px 14px 0 0 rgba(0,0,255,.6);

}


#game{
  width:100%;
  filter: grayscale();
  transition: all .3s ease;
}

#game:hover {
 /* filter: none;*/
  transform:scale(1.08);
  transition: all .3s ease;
}


/******************************************
/* COWORKING                
/*******************************************/

.horizontalNav {
  position:fixed;
  top:0;
  right:10px;
  height:100px; 
  width:100%;
  z-index:9999;
  background-color:rgba(255,255,255,.7);
  display: none;
  font-family:'Roboto Mono';
  text-transform:lowercase;
  padding: .5% 3% 0 0;
}

.horizontalNav li {
  padding-top:0;
  margin-top:1%;
}

.horizontalNav li a {
color:black;
letter-spacing: .12em;
transition: all .05s ease;
}

.horizontalNav li:hover {
 font-style:normal;
}

.horizontalNav li a:hover {
  color:grey
  letter-spacing: .13em;
  border-bottom: 2px dashed blue;
  padding-bottom: 5%;
  transition: all .05s ease;
}

.coworkingAbout {
  height:100vh;
}

.layer {
  background-color: rgba(255,255,255, 0.8);
  bottom:0;
}

#containerCoworking h1 {
  font-size: 4em;
  letter-spacing: .3em;
  text-align: center;
  margin-top: 0;
}

#aboutSectionEntry {
  color:black;
  height:100vh;
}

#aboutSectionEntry a:hover {
  font-style:italic;
  letter-spacing: .013em;
}


.coworkingAbout {
  width: 90%;
  margin: 0 auto;
  margin-bottom:5%;
  height:85vh;
}

.coworkingAbout h2{
  font-size: 2.5em;
  letter-spacing: .5em;
  margin:-5%;
}

#membershipLabel {
  width: 85%;
}



.coworkingAbout p, .coworkingAbout h3{
  /*font-size: 2.2em;*/
  font-size:1.5em;
 /* width: 70%;*/
  padding-bottom: 3%;
  font-family:"Roboto Mono";
  line-height: 1.8em;
  margin: 0 auto;
  /*float:right;*/
  /*margin-top:-1%;*/
  padding-top:42%;

}


.coworkingAbout #aboutSectionEntry p{
  width:50%;
  float:left;
  font-size:2.4em;
  padding-bottom:3%;
  border-bottom: 6px dashed rgba(0,0,0,.4);
  line-height:1.8em;
  padding-top:0;
  height:75vh;
}

#coworkingBody p {
  padding:2%;
  margin-top:20%;
  background-color:white;
  box-shadow: 15px 14px 0 0 rgba(0,0,255,.6);
}

#app {
  color:white;
  background-color:rgba(0,0,255,.6);
  padding: 1%;
  font-size:2em;
  letter-spacing:.2em;
  transition: all .15s ease;
}

#app:hover {
  background-color:rgb(81,65,255);
  transition:all .15s ease;
  border-radius:50%;
  padding:8.5% 2%;
}


  #mobileCoworkingSectionEntry, #mobileCoworkingSectionEntryTwo {
    display:none;
    margin-top:0 !important;
    box-shadow:none !important;
    background-color: rgba(0,0,0,0) !important;
  }

.aboutSections {
  float:left;
  margin: 5% auto;
  margin-bottom:0;
}

.join {
  width: 20%;
}

#homeContactLink {
  width: 20%;
  height: 30px;
  background:rgba(0,0,255,.6);
  color:white;
  padding:1.5%;
}

#space {
  width:56%;
  float:left;
  font-size:1.3em;
  overflow-y:hidden;
}

.coworkingAbout #space p {
  line-height:1.7em;
}

#coworkingBody .coworkingAbout p span{
  background-color: rgba(255,255,255,.8);

}

.coworkingImage{
  opacity:0.2;
  transition: all .3s ease;
  width:30%;
  float:right;
  right:5%;
  position:absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#coworkingBody .coworkingAbout {
  background-image:url("../images/2B-grey.jpg");
  background-position: 50%;
  background-size:cover;
  margin:10% auto;
  transition: all .3s ease;
  height: 70vh;
  margin-bottom:0;
}


.coworkingImageHover a {
  color:black;
}





/******************************************
/* EVENTS                
/*******************************************/


.eventsFlyerMobile {
  display:none;
/*  background-image:url("../images/rin1.jpg");
  background-size:cover;
  background-position:center center;*/
/*   height:35vh; */
  width:90%;
  margin:0 auto;
  clear:both;
}


#containerEvents h1{
  text-align: center;
  font-size: 4em;
  letter-spacing: .3em;
  margin-top:0;
}

.eventListing, .summary {
  margin: 5%;
  border-bottom: 5px dashed blue;
  padding-bottom: 5%;
  width: 40%;
  float:left;
  height:400px;
}

.eventListing p, .description{
  font-size:1.8em;
  font-family:"Roboto Mono";
  line-height:1.5em;
}

.eventTitle{
  font-size: 2.6em;
  letter-spacing: .18em;
  color:black;
}

.eventTitle:hover {
  font-style: italic;
  color:blue;
}

#containerEvents h3, .date {
  font-size: 2em;
  letter-spacing: .17em;
  float:left;
}

#containerEvents h2{
  font-size: .89em;
  letter-spacing: .3em;
  margin-top:0;
}

.eventLink {
  color:blue;
  border-bottom: 2px solid blue;
}

.eventLink:hover{
 font-style: italic;
}


/******************************************
/* CONTACT                
/*******************************************/

#form {
  width: 40%;
  float: left;
  margin: 5%;
  border-top: 5px dashed blue;
  border-left: 5px dashed blue;
  padding: 2% 0 0 5%;
  margin-top:3%;
}

#form h1{
  letter-spacing: .2em;
  text-align:center;
  font-family:Helvetica;
  font-size:2em;
}

input, textarea{
  font-size: 1.1em;
  letter-spacing: .1em;
  width: 100%;
  height: 70px;
  padding: 0px 15px 0px 15px;
  outline: none;
  border: solid 2px;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}


input:hover, textarea:hover {
  background: rgb(220,220,220);
}

#form textarea {
  height: 190px;
  padding: 15px;
  border: solid 2px;
  font-family: "Roboto Mono";
}

#form input{
  font-family:"Roboto Mono";
}

#submit {
  width: 100%;
  font-size: 1.5em;
  letter-spacing: .2em;
  font-family:"Roboto Mono";
  background-color:white;
  outline:none;
  cursor: pointer;
  border: solid 2px;
  border-top: none;
}

#submit:hover {
  color: white;
  background: blue;
  border: solid 2px black;
  border-top: none;
  font-style: bold;
  font-style: italic;
}

iframe {
  display:none;
}
.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid red;
  float: left;
  margin-right: 4%;
  transition-duration: .2s;
}

#contactInfo {
  float: left;
  width: 40%;
  margin: 5%;
  margin-top:4.5%;
  margin-bottom:8%;
  font-size: 1.3em;
  border-right: 5px dashed blue;
  border-bottom: 5px dashed blue;
  padding: 2%;
  padding-bottom:0;

}

#contactInfo h2{
  letter-spacing: .2em;
  margin:0;
  font-size: 1.7em;
  font-family:Helvetica;
}

#contactInfo p{
  margin-top:2%;
  margin-bottom:5%;
  font-family:"Roboto Mono";
  font-size: .9em;
}

#contactInfo #visit{
  margin-bottom:0;
}

#contactInfo a{
  color: blue;
}

#contactInfo a:hover{
  font-style: italic;
}

.social{
  width: 7%;
  margin: 5%;
  margin-left:0;
  transition: all .3s ease;
}

.social:hover{
  transform: rotate(20deg);
  transition: all .3s ease;
  transition-delay:0s;
}



footer {
  clear:both;
  text-align:center;
  font-style:italic;
  font-size:1.1em;
  background:white;
}

footer h4{
  font-weight:normal;
}

/******************************************
/* MEDIA QUERIES               
/*******************************************/

@media(max-width:2400px) and (min-width: 1899px){

  .horizontalNav li {
    font-size:1.8em;
  }

  #mobileCoworkingSectionEntryTwo {
    display:none;
  }
   .coworkingAbout #aboutSectionEntry p {
    font-size:3.7em;
  }
  
   #coworkingBody p{
    width:95%;
    font-size:2.3em;
    margin-top:50vh;
 }

  #coworkingBody  .coworkingAbout {
    height:100vh
  }

  #containerEvents h2 {
    font-size: 1.4em;
  }

  #containerEvents h3, .eventListing p {
    font-size: 2.4em;
  }

  .eventListing {
    height:440px;
  }

  #form input {
    height:90px;
  }
}

@media(max-width:1900px) and (min-width: 1600px){

  .horizontalNav li {
    font-size: 1.6em;
  }

    #coworkingBody  .coworkingAbout {
    height:100vh
  }

 
    .coworkingAbout #aboutSectionEntry p {
    font-size:3.3em;
  }

   #coworkingBody p{
    font-size:2em;
     margin-top:50vh;
     width:95%;
  }

    #mobileCoworkingSectionEntryTwo {
    display:none;
  }

   #containerEvents h2 {
    font-size: 1.4em;
  }

  #containerEvents h3, .eventListing p {
    font-size: 2.2em;
  }

  .eventListing {
    height:440px;
  }

    #form input {
    height:80px;
  }

    .coworkingAbout #aboutSectionEntry p, #aboutImage {
    height:75vh;
  }


}

@media(max-width:1599px) and (min-width:1450px) {

  .horizontalNav li {
    font-size: 1.4em;
  }


    #coworkingBody  .coworkingAbout {
    height:100vh
  }

  .coworkingAbout #aboutSectionEntry p {
    font-size:3.2em;
  }

   #coworkingBody p{
    font-size:2em;
     margin-top:50vh;
     width:95%;
  }

     #mobileCoworkingSectionEntryTwo {
    display:none;
  }


  #form input {
    height:75px;
  }

  .eventListing p {
    font-size:2.1em;
  }

    .coworkingAbout #aboutSectionEntry p, #aboutImage {
    height:70vh;
  }

}


@media (max-width:1449px) and (min-height: 800px) {
  .coworkingAbout #aboutSectionEntry p, #aboutImage {
    height:60vh;
  }

  .coworkingAbout #aboutSectionEntry p {
    font-size:2.6em;
  }

  #aboutImage {
    width:45%;
  }

  #coworkingBody p{
  margin-top:55vh;
  }

}






@media(max-width:1449px) and (min-width: 1300px){

  .horizontalNav li {
    font-size: 1.4em;
  }

#coworkingBody  .coworkingAbout {
    height:100vh
  }

  .coworkingAbout #aboutSectionEntry p, #aboutImage {
    height:75vh;
  }
    .coworkingAbout #aboutSectionEntry p {
    font-size:3.1em;
  }

     #coworkingBody p{
    font-size:1.8em;
     margin-top:55vh;
     width:95%;
  }

  #mobileCoworkingSectionEntryTwo {
    display:none;
  }

  .containerEvents h2 {
    font-size:1.2em;
  }

    .eventListing p {
    font-size:1.9em;
  }

   #form input {
    height:75px;
  }

    .coworkingAbout #aboutSectionEntry p, #aboutImage {
    height:70vh;
  }
}


@media(max-width:1299px) and (min-width:1151px) {


 .horizontalNav li {
    font-size: 1.4em;
  }

#coworkingBody  .coworkingAbout {
    height:100vh
  }

    .coworkingAbout #aboutSectionEntry p {
    font-size:2.6em;
    line-height:1.68em;
  }

  .coworkingAbout p {
     font-size:1.6em;
    width:95%;
  }

 /* #coworkingBody p {
    margin-top:55vh;
  }
*/



    .containerEvents h2 {
    font-size:.89em;
  }

  .containerEvents h3 {
    font-size:2em;
  }

    .eventListing p {
    font-size:1.8em;
  }

  #form input {
    height:70px;
  }
}





@media(max-width: 1150px) and (min-width: 1030px) {

    #mobileCoworkingSectionEntryTwo {
    display:none;
  }
  #coworkingBody .coworkingAbout {
  height:100vh;
  margin: 20% auto;
  margin-bottom:0;

  }

 #coworkingBody p{
    margin-top: 55vh;
    width:95%;
  }

  #app:hover {
    padding:10% 2%
  }

 #form input {
    height:65px;
  }

}

@media (max-width:1150px) and (min-height:800px) {
    .coworkingAbout #aboutSectionEntry p, #aboutImage {
    height:55vh;
  }

  .coworkingAbout #aboutSectionEntry p {
    font-size:2.4em;
  }

  #aboutImage {
    width:45%;
  }

   #coworkingBody p {
    margin-top:65vh;
  }


}

@media(max-width: 1029px) and (min-width: 990px)  {

    #mobileCoworkingSectionEntryTwo {
    display:none;
  }
  #bodyHome {
    background-size:120%;
  }

  .logoHome {
    width: 18%;
    margin-left: -4%;
  }
   svg {
    transform:scale(1.2);
    padding-top: 10%;
  }

  .coworkingAbout {
    height:100vh;
  }

#coworkingBody .coworkingAbout {
  height:100vh;
  margin: 15% auto;
  margin-bottom:0;

  }
  .coworkingAbout #aboutSectionEntry p {
    font-size:2.3em;
  }

  .coworkingAbout p{
    width:95%;

  }
#coworkingBody p {
  margin-top:50vh;
}


  #app:hover {
    padding: 10.5% 2%;
  }

  .eventListing, .summary {
    height:450px;
  }

  #space {
    font-size: 1.2em;
  }

   #form input {
    height:65px;
  }


}


@media (max-width:1029px) and (min-height:800px) {


   #coworkingBody p {
    margin-top:65vh;
  }


}



@media(max-width: 989px) and (min-width: 950px)  {

    #mobileCoworkingSectionEntryTwo {
    display:none;
  }
  #bodyHome {
    background-size:120%;
  }

  .logoHome {
    width: 18%;
    margin-left: -4%;
  }
   svg {
    transform:scale(1.2);
    padding-top: 10%;
  }

  .coworkingAbout {
    height:100vh;
  }

#coworkingBody .coworkingAbout {
  height:100vh;
  margin: 15% auto;
  margin-bottom:0;

  }
  .coworkingAbout #aboutSectionEntry p {
    font-size:2.2em;
    line-height:2em;
  }

  .coworkingAbout p{
    width:95%;

  }
  #coworkingBody p {
  margin-top:40%;
}


   #app:hover {
    padding: 11% 2%;
  }


  .eventListing, .summary {
    height:450px;
  }

  #space {
    font-size: 1.2em;
  }

   #form input {
    height:63px;
  }

 #aboutImage img {
    height:75vh;
  }
}

@media (max-width:989px) and (min-height:800px) {


   #coworkingBody p {
    margin-top:65vh;
  }


}

@media(max-width: 949px) and (min-width: 810px) {

    #mobileCoworkingSectionEntryTwo {
    display:none;
  }

  #bodyHome {
    background-size:140%;
  }

 svg {
    transform:scale(1.3);
    padding-top: 12%;
  }

.coworkingAbout #aboutSectionEntry p {
  font-size: 2.9em;
  width:95%;
  height:80vh;
}

#aboutImage {
  display:none;
}


  #coworkingBody .coworkingAbout {
  height:100vh;
  margin: 12% auto;
  margin-bottom:0;

  }

 #coworkingBody p{
    width:95%;
  }

  #coworkingBody p {
  margin-top:43vh;
}


    #app:hover {
    padding: 11% 2%;
  }

  .logoHome {
    width:20%;
    margin-top:-2%;
    margin-left:-5%;
  }

  #contactInfo h2 {
    font-size: 1.5em;
  }
  .eventListing, .summary {
    height:500px;
  }

  #space {
    font-size:1.1em;
  }

  #form input {
    height:60px;
  }

}

@media (max-width:949px) and (min-height:800px) {


   #coworkingBody p {
    margin-top:60vh;
  }


}

@media(max-width: 809px) and (min-width: 705px) {

    #mobileCoworkingSectionEntryTwo {
    display:none;
  }
  #bodyHome {
    background-size:160%;
  }
svg {
    transform:scale(1.5);
    padding-top: 15%;
  }
 .coworkingAbout #aboutSectionEntry p {
  font-size:2.6em;
  width:95%;
}

#aboutImage {
  display:none;
}

  #coworkingBody .coworkingAbout {
  height:100vh;
  margin: 14% auto;
  margin-bottom:0;

  }

 #coworkingBody p{
    width:95%;
      margin-top:40vh;
  }


    #app:hover {
    padding: 12% 2%;
  }

 .coworkingAbout p {
  font-size:1.5em;
 }

#contactInfo h2{
  font-size: 1.5em;
 }

 #containerEvents h2 {
  font-size:.7em;
 }

 #containerEvents h3 {
  font-size: 1.5em;
 }

 .eventListing p {
  font-size: 1.5em;
 }

 .eventListing {
  height:375px;
 }

   .logoHome {
    width:25%;
    margin-top:-5%;
    margin-left:-7.5%;
  }

  #form input {
    height:60px;
  }


}

@media (max-width:809px) and (min-height:800px) {


   #coworkingBody p {
    margin-top:55vh;
  }


}



@media(max-width: 704px) and (min-width: 625px) {

    #mobileCoworkingSectionEntryTwo {
    display:none;
  }

  #bodyHome {
    background-size:160%;
  }
 svg {
    transform:scale(1.5);
    padding-top: 20%;
  }

  .coworkingAbout #aboutSectionEntry p {
  font-size:2.5em;
  width:95%;
}

#aboutImage {
  display:none;
}

  #coworkingBody .coworkingAbout {
  height:100vh;
  margin: 18% auto;
  margin-bottom:0;

  }

 #coworkingBody p{
    width:95%;
    font-size:1.4em;
  }

     #coworkingBody p {
  margin-top:45vh;
}

      #app:hover {
    padding: 13% 2%;
  }

#contactInfo h2{
  font-size: 1.5em;
 }

 #containerEvents h2 {
  font-size:.7em;
 }

 #containerEvents h3 {
  font-size: 1.5em;
 }

 .eventListing p {
  font-size: 1.5em;
 }

 .eventListing {
  width:90%;
  height:300px;
 }

  .logoHome {
    width:28%;
    margin-top:-5%;
    margin-left:-9%;
  }


  #form, #contactInfo {
    width: 90%;
  }

  #contactInfo {
    text-align:right;
    padding-right:5%;
  }
}

@media (max-width:704px) and (min-height:800px) {


   #coworkingBody p {
    margin-top:55vh;
  }


}

@media(max-width: 624px) and (min-width: 557px) {


    #mobileCoworkingSectionEntryTwo {
    display:none;
  }

  #bodyHome {
    background-size:160%;
  }
 svg {
    transform:scale(1.5);
    padding-top: 20%;
  }

  .coworkingAbout #aboutSectionEntry p {
  font-size:2.3em;
  width:90%;
  padding-bottom:7%;
 }  

 #coworkingBody .coworkingAbout {
  height:100vh;
  margin: 18% auto;
  margin-bottom:0;

  }

 #coworkingBody p{
    width:95%;
    font-size:1.4em;
    margin-top:40vh;
  }

  

      #app:hover {
    padding: 13% 2%;
  }

#aboutImage {
  display:none;
}
#contactInfo h2{
  font-size: 1.5em;
 }

 #containerEvents h2 {
  font-size:.7em;
 }

 #containerEvents h3 {
  font-size: 1.5em;
 }

 .eventListing p {
  font-size: 1.5em;
 }

 .eventListing {
  width:90%;
  height:300px;
 }

  .logoHome {
    width:30%;
    margin-top:-13%;
    margin-left:-9%;
  }



  #form, #contactInfo {
    width: 90%;
  }

  #contactInfo {
    text-align:right;
    padding-right:5%;
  }
}

@media (max-width:624px) and (min-height:800px) {


   #coworkingBody p {
    margin-top:55vh;
  }


}



@media(max-width: 556px) and (min-width: 480px) {

    #mobileCoworkingSectionEntryTwo {
    display:none;
  }
.horizontalNav li {
  visibility:hidden;
}

  svg {
    transform:scale(1.5);
    padding-top: 30%;
  }

  #coworkingBody .coworkingAbout {
  height:100vh;
  margin: 18% auto;
  margin-bottom:0;

  }

 #coworkingBody p{
    margin-top:40vh;
    width:95%;
    font-size:1.3em;
  }
   #bodyHome {
    background-size:300%;
  }

  .coworkingAbout #aboutSectionEntry p {
  font-size:2em;
  width:90%;
  padding-top: 10%;
  padding-bottom:10%;
 }  

 #aboutImage {
  display:none;
}

  #coworkingBody .coworkingAbout p {
  width: 90%;
}

      #app:hover {
    padding: 16% 2%;
  }

#coworkingBody .coworkingAbout p span{
  background-color: rgba(255,255,255,.8);
}

#contactInfo h2{
  font-size: 1.5em;
 }

 #containerEvents h2 {
  font-size:.7em;
 }

 #containerEvents h3 {
  font-size: 1.5em;
 }

 .eventListing p {
  font-size: 1.5em;
 }

 .eventListing {
  width:90%;
  height:300px;
 }

  .logoHome {
    width:50%;
    margin-top:-15%;
    margin-left:-20%;
  }



  #form, #contactInfo {
    width: 90%;
    padding-top:5%;

  }

  #contactInfo {
    text-align:right;
    padding-right:5%;
  }

  footer {
    padding: 0 4%;
  }

  .hamburger-menu {
  display: inline-block;
  float:right;

}
}

@media (max-width:556px) and (min-height:800px) {


   #coworkingBody p {
    margin-top:55vh;
  }


}


@media(max-width: 479px) and (min-width: 450px) {

.horizontalNav li {
  visibility:hidden;
}

  #bodyHome {
    background-size:300%;
  }

  svg {
    transform:scale(1.7);
    padding-top: 27%;
  }

  #coworkingSectionEntry {
    display:none;
  }

  #mobileCoworkingSectionEntry, #mobileCoworkingSectionEntryTwo {
    display:block;
  }


  .coworkingAbout #aboutSectionEntry p {
  font-size:1.8em;
  width:90%;
  padding-top: 10%;
  padding-bottom:10%;

 }  

       #app:hover {
    padding: 18% 2%;
  }


#coworkingBody  .coworkingAbout {
  background-position: center center;
  height:100vh;
  margin:16% auto;
 }

#coworkingBody .coworkingAbout p {
  width: 95%;
  font-size:1.5em;
  line-height:2em;
  padding-top:100%;
}
#aboutImage {
  display:none;
}
#coworkingBody .coworkingAbout p span{
  background-color: rgba(255,255,255,.9);
  padding:1.4%;
  border-bottom:2px dashed blue;
}

 #coworkingBody .coworkingAbout #mobileCoworkingSectionEntryTwo{
    padding:15% 0;
    border-bottom:5px dashed blue;
  }

#eventsBody {
  margin-top:140%;
}

#contactInfo h2{
  font-size: 1.5em;
 }


.eventsFlyerMobile {
  display:block;
  margin-bottom:5%;
}
 #containerEvents h2 {
  font-size:.7em;
 }

 #containerEvents h3 {
  font-size: 1.5em;
 }

 .eventListing p {
  font-size: 1.5em;
 }

 .eventListing {
  width:90%;
  height:45vh;
 }

.lastEvent {
  border-bottom:none;
 }

  .logoHome {
    width:50%;
    margin-top:-23%;
    margin-left:-20%;
  }



  #form, #contactInfo {
    width: 90%;
    padding-top:5%;
    margin-top:5%;
  }

  #contactInfo {
    text-align:right;
    padding-right:5%;
  }

  footer {
    padding: 0 4%;
  }
.hamburger-menu {
  display: inline-block;
  float:right;

}
}


@media(max-width:449px) and (min-width:370px) {
.horizontalNav li {
  visibility:hidden;
}

  #bodyHome {
    background-size:300%;
  }


  svg {
    transform:scale(1.7);
    padding-top: 27%;
  }

  #coworkingSectionEntry {
    display:none;
  }

  #mobileCoworkingSectionEntry, #mobileCoworkingSectionEntryTwo {
    display:block;

  }


  .coworkingAbout #aboutSectionEntry p {
  font-size:1.8em;
  width:90%;
  padding-top: 10%;
  padding-bottom:10%;

 }  


       #app:hover {
    padding: 23% 2%;
  }

#coworkingBody  .coworkingAbout {
  background-position: center center;
  height:100vh;
  margin:16% auto;
 }

#coworkingBody .coworkingAbout p {
  width: 95%;
  font-size:1.5em;
  line-height:2em;
  padding-top:50vh;
}
#aboutImage {
  display:none;
}
#coworkingBody .coworkingAbout p span{
  background-color: rgba(255,255,255,.9);
  padding:1.55%;
  border-bottom:2px dashed blue;
}

 #coworkingBody .coworkingAbout #mobileCoworkingSectionEntryTwo{
    padding:24% 0;
    border-bottom:5px dashed blue;
  }

#eventsBody {
  margin-top:140%;
}

#contactInfo h2{
  font-size: 1.5em;
 }


.eventsFlyerMobile {
  display:block;
  margin-bottom:5%;
}
 #containerEvents h2 {
  font-size:.7em;
 }

 #containerEvents h3 {
  font-size: 1.5em;
 }

 .eventListing p {
  font-size: 1.5em;
 }

 .eventListing {
  width:90%;
  height:55vh;
 }

.lastEvent {
  border-bottom:none;
 }

  .logoHome {
    width:50%;
    margin-top:-23%;
    margin-left:-20%;
  }



  #form, #contactInfo {
    width: 90%;
    padding-top:5%;
    margin-top:5%;
  }

  #contactInfo {
    text-align:right;
    padding-right:5%;
  }

  footer {
    padding: 0 4%;
  }
.hamburger-menu {
  display: inline-block;
  float:right;

}

}

@media(max-width:369px) and (min-width:321px) {
.horizontalNav li {
  visibility:hidden;
}

  #bodyHome {
    background-size:300%;
  }


  svg {
    transform:scale(1.8);
    padding-top: 30%;
  }

  .coworkingAbout {
    height:100vh;
  }

  #coworkingSectionEntry {
    display:none;
  }

  #mobileCoworkingSectionEntry, #mobileCoworkingSectionEntryTwo {
    display:block;
  }



  .coworkingAbout #aboutSectionEntry p {
  font-size:1.8em;
  width:100%;
  padding-top: 10%;
  padding-bottom:10%;
  height:85vh;
 

 }  

  #app:hover {
    padding: 25% 2%;
  }


#coworkingBody  .coworkingAbout {
  background-position: center center;
  height:100vh;
  margin:16% auto;

 }

#coworkingBody .coworkingAbout p {
  width: 97%;
  font-size:1.5em;
  line-height:2em;
  padding-top:85%;

}
#aboutImage {
  display:none;
}
#coworkingBody .coworkingAbout p span{
  background-color: rgba(255,255,255,.9);
  padding:2%;
  border-bottom:2px dashed blue;
}

 #coworkingBody .coworkingAbout #mobileCoworkingSectionEntryTwo{
    padding:15% 0;
    border-bottom:5px dashed blue;
  }

#eventsBody {
  margin-top:140%;
}

#contactInfo h2{
  font-size: 1.5em;
 }


.eventsFlyerMobile {
  display:block;
  margin-bottom:5%;
  height:auto;
}
 #containerEvents h2 {
  font-size:.7em;
 }

 #containerEvents h3 {
  font-size: 1.5em;
 }

 .eventListing p {
  font-size: 1.5em;
 }

 .eventListing {
  width:90%;
  height:60vh;
 }

.lastEvent {
  border-bottom:none;
 }

  .logoHome {
    width:60%;
    margin-top:-28%;
    margin-left:-25%;
  }


  #form, #contactInfo {
    width: 90%;
    padding-top:5%;
    margin-top:5%;
  }

  #contactInfo {
    text-align:right;
    padding-right:5%;
  }

  footer {
    padding: 0 4%;
  }
.hamburger-menu {
  display: inline-block;
  float:right;

}

}

@media (max-width:320px) and (min-width: 0px) {
  .horizontalNav li {
  visibility:hidden;
}

  #bodyHome {
    background-size:300%;
  }



  svg {
    transform:scale(1.8);
    padding-top: 30%;
  }

  .coworkingAbout {
    height:100vh;
  }

  #coworkingSectionEntry {
    display:none;
  }

  #mobileCoworkingSectionEntry, #mobileCoworkingSectionEntryTwo {
    display:block;
  }


  .coworkingAbout #aboutSectionEntry p {
  font-size:1.8em;
  width:100%;
  padding-top: 10%;
  padding-bottom:10%;
  line-height:1.6em;
  height:85vh;

 }  

  #app:hover {
    padding: 26% 2%;
  }

#coworkingBody  .coworkingAbout {
  background-position: center center;
  height:100vh;
  margin:16% auto;
 }

#coworkingBody .coworkingAbout p {
  width: 97%;
  font-size:1.4em;
  line-height:2em;
  padding-top:90%;
}
#aboutImage {
  display:none;
}
#coworkingBody .coworkingAbout p span{
  background-color: rgba(255,255,255,.9);
  padding:1.5%;
  border-bottom:2px dashed blue;
}

 #coworkingBody .coworkingAbout #mobileCoworkingSectionEntryTwo{
    padding:15% 0;
    border-bottom:5px dashed blue;
  }

#eventsBody {
  margin-top:140%;
}

#contactInfo h2{
  font-size: 1.5em;
 }


.eventsFlyerMobile {
  display:block;
  margin-bottom:5%;
  height:auto;
}
 #containerEvents h2 {
  font-size:.7em;
 }

 #containerEvents h3 {
  font-size: 1.5em;
 }

 .eventListing p {
  font-size: 1.5em;
 }

 .eventListing {
  width:90%;
 }

.lastEvent {
  border-bottom:none;
 }


  #form, #contactInfo {
    width: 90%;
    padding-top:5%;
    margin-top:5%;
  }

  #contactInfo {
    text-align:right;
    padding-right:5%;
  }

  footer {
    padding: 0 4%;
  }
.hamburger-menu {
  display: inline-block;
  float:right;

}
}

@media (max-width:320px) and (min-width: 0px) {

  .logoHome {
     width:65%;
    margin-top:-52%;
    margin-left:-25%;
  }

  .coworkingAbout #aboutSectionEntry p {
    font-size:1.6em;
  }
  .eventListing {
    height: 75vh;
  }

  #eventsBody {
    margin-top:130%;
  }

#coworkingBody .coworkingAbout p{
    padding-top:75%;
  }
}


/******************************************
/* LANDSCAPE MEDIA QUERIES                
/*******************************************/


/* iPhone 5 */
@media 
   (height: 320px) 
  and (width: 568px)
 {

    svg{
      transform:scale(1);
      padding-top:5%;
    }

    .coworkingAbout #aboutSectionEntry p {
      font-size:1.7em;
      width:100%;
      margin-top:-5%;
    }

    #eventsBody {
      margin-top:50%;
    }

    .eventListing {
      height:230px;
    }

}

/* iPhone 6 and Galaxy S5*/
@media 
   (height: 375px) 
  and (width: 667px),

    (height: 360px)
     and (width:640px) { 

    svg{
      transform:scale(1);
      padding-top:5%;
    }

    .coworkingAbout #aboutSectionEntry p {
      font-size:1.8em;
      width:100%;
      margin-top:-5%;
    }

    #coworkingBody p {
      padding-top:60%;
    }

    #eventsBody {
      margin-top:30%;
    }

    .eventListing {
      height:250px;
    }
}

/* iPhone 6+ */
@media 
  (height: 414px) 
  and (width: 736px) { 
      svg{
      transform:scale(1);
      padding-top:5%;
    }

    .coworkingAbout #aboutSectionEntry p {
      font-size:2em;
      width:100%;
      margin-top:-5%;
    }

    #coworkingBody p {
      padding-top:60%;
    }

    #eventsBody {
      margin-top:30%;
    }

    .eventListing {
      height:250px;
      width:90%;
    }

    #contactInfo {
      padding-bottom:5%;
    }
}

/* iPad */
@media 
   (width: 768px) 
  and (height: 1024px),
  (height:768px) 
  and (width:1024px)
  {

    .coworkingAbout #aboutSectionEntry p {
      font-size: 3.2em;
      padding-top:10%;
      width:100%;
      height:75vh;
    }

    .horizontalNav li {
      font-size: 1.6em;
    }

    #coworkingBody p {

      font-size:1.8em;
    }

    #aboutImage {
      display:none;
    }

    .eventListing {
      height:430px;
    }

}

@media 
  (height:768px) 
  and (width:1024px) {
    #coworkingBody p{

    }
  }

/* iPad Pro */
@media 
(height:1366px)
  and (width:1024px),
  (height:1024px)
  and (width:1366px){

    svg {
      transform:scale(1.5);
      padding-top:25%;
    }

    .coworkingAbout #aboutSectionEntry p {
      font-size: 4.3em;
      padding-top:10%;
      width:100%;
      height:75vh;
    }

    .horizontalNav li {
      font-size: 2em;
    }

    #coworkingBody .coworkingAbout {
      height:70vh;
      margin-bottom:10%;
    }

    #coworkingBody p {
      margin-top:40vh;
      font-size:1.9em;
    }

    #aboutImage {
      display:none;
    }

    .eventListing {
      height:430px;
    }
  }


  